$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);

$color-accent-blue: hsl(248, 32%, 49%);

$color-neutral-Dark: hsl(249, 10%, 26%);
$color-neutral-light: hsl(246, 25%, 77%);

$color-white: #fff;

$fs-default: 16px;

$ff-default: "Poppins";

$fw-default: 400;
$fw-bold: 500;
$fw-bolder: 600;
$fw-boldest: 700;
